@using MvcOnlineTicariOtamasyon.Models.siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "MusteriSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>musteri satis</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"> <strong>Departman Adi: @ViewBag.d </strong></li>
</ol>
<br />

<table class="table tab-content">

    <tr>
        <th>Satis Id</th>
        <th>Urun</th>
        <th>Personel </th>
        <th>fiyat</th>
        <th>adet</th>
        <th>toplam</th>
        <th>tarih</th>
        <th>islem</th>


    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.SatisID</th>
            <th>@x.Urun.UrunAd</th>
            <th>@x.Personel.PersonelAd</th>
            <th>@x.Fiyat</th>
            <th>@x.Adet</th>
            <th>@x.ToplamTutar</th>
            <th>@x.Tarih</th>
            <td> <a href="/Cari/MusteriSatis/" class="btn btn-light">Yazdir</a></td>
        </tr>



    }


</table>
